.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  box-shadow: 10px 10px 10px ;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 14px;
}

.input {
  margin-top: 5px;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.error {
  margin-top: 5px;
  color: red;
  font-size: 12px;
}

.button {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  background: #4caf50;
  border: none;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
  &:hover {
    background: #1b941f;
  }
}

.button:disabled {
  background-color: #9e9e9e;
  cursor: not-allowed;
}

.button.enabled {
  background-color: #4caf50;
}